<!-- Header Navigation Component -->
<nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container-fluid">
        <button id="sidebarToggle" class="btn btn-sm btn-outline-primary d-md-none">
            <i class="fas fa-bars"></i>
        </button>
        
        <div class="d-flex ms-auto">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ request.user.username }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'admin:logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
